/* aw style formtable */

.aw-style-formtable {
    border-collapse: collapse;
    border-top: 4px solid rgb(163, 194, 216);
    font-size: 0.9em;
    color: #333;
    caption-side: bottom;
    width: 100%;
}

.aw-style-formtable > caption {
    font-size: 0.8em;
    color: #666;
    text-align: left;
}

.aw-style-formtable tr {
    /* border: 1px solid #999; */
}

.aw-style-formtable th, .aw-style-formtable td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* border-left: 1px solid #eee; */
    /* border-right: 1px solid #eee; */
    padding: 10px;
}

.aw-style-formtable th {
    background: #f1f1f1;
    /* min-width: 150px; */
    padding: 20px;
    text-align: left;
    width: 200px;
}

.aw-style-formtable .width-auto {
    width: auto;
}

.aw-style-formtable .width-small {
    width: 200px;
}

.aw-style-formtable td {
    background: #fcfcfc;
}

/* aw style datatable */

.aw-style-datatable {
    border-collapse: collapse;
    font-size: 0.9em;
    color: #333;
    width: 100%;
}

.aw-style-datatable th, .aw-style-datatable td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.aw-style-datatable th {
    background: #f1f1f1;
    width: 150px;
    color: #000;
    text-align: center;
}

.aw-style-datatable tr:first-child > th {
    background: #44546c;
    color: #fff;
    padding: 15px;
}

.aw-style-datatable td {
    background: #fff;
    border-left: 1px solid #ccc;
}

/* .aw-style-datatable td:last-child {
    border-right: 1px solid #ccc;
} */

/* aw style input */

label > .aw-style-input {
    margin: 5px 10px 5px 5px;
}

label > .aw-style-label {
    margin-left: -8px;
    margin-right: 5px;
}

.aw-style-input {
    padding: 6px 4px;
    border: 1px solid #bbb;
    font-size: 1em;
}

.aw-style-input::placeholder {
    font-size: 0.9em;
}

.aw-style-readonly {
    background: #eee;
}

textarea.aw-style-input {
    width: 100%;
    min-height: 120px;
}

/* aw style buttons */
.aw-style-btn {
    padding: 6px 10px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #f1f1f1, #ddd);
    border-bottom-right-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    border-top-left-radius: 0.5em 0.5em;
    text-decoration: inherit;
    cursor: pointer;
}

a.aw-style-btn {
    color: #333;
    text-decoration: none;
}

.aw-style-btn:active {
    background: linear-gradient(to bottom right, #ddd, #f1f1f1);
}

.aw-style-btn-blue {
    background: linear-gradient(to bottom right, #E3EDFF, #88AAFF);
}

.aw-style-btn-blue:active {
    background: linear-gradient(to bottom right, #88AAFF, #E3EDFF);
}

.aw-style-bigbtn {
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 0.85em;
    font-family: inherit;
    font-weight: 900;
    color: #fff;
    border: 0;
    background: #999;
    border-bottom-right-radius: 0.2em 0.2em;
    border-bottom-left-radius: 0.2em 0.2em;
    border-top-right-radius: 0.2em 0.2em;
    border-top-left-radius: 0.2em 0.2em;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); */
    margin-right: 5px;
    text-decoration: inherit;
    cursor: pointer;
}

.aw-style-bigbtn:hover {
    background: #A1A1A1;
}
.aw-style-bigbtn:active {
    left: 1px;
    top: 1px;
}

.aw-style-bigbtn-blue {
    background: #3A78C5;
}
.aw-style-bigbtn-blue:hover {
    background: #4e86da;
}

.aw-style-bigbtn-white {
    background: #fff;
    color: #003869;
}
.aw-style-bigbtn-white:hover {
    background: #f1f1f1;
}

.aw-style-bigbtn-red {
    background: rgb(218, 44, 44);
    color: #fff;
}
.aw-style-bigbtn-red:hover {
    background: #F24B4B;
}

.aw-style-bigbtn-yellow {
    background: #c5993a;
}
.aw-style-bigbtn-yellow:hover {
    background: #dab24e;
}


/* aw style texts */

.aw-style-text-info {
    color: #000;
    font-size: 0.8em;
}

.aw-style-text-warning {
    color: #C63;
    font-size: 0.8em;
}

/* aw style tabs */

.aw-style-tabs {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.aw-style-tabs > li {
    display: inline-block;
}

.aw-style-tabs > li > a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 0.9em;
    padding: 7px 15px;
    margin: 0;
    border: 1px solid #ccc;
}

.aw-style-tabs > li.on > a {
    color: #fff;
    font-weight: bold;
    background: #ff7700;
}